PORT_SSR=3500
REACT_APP_URI_API_LOCAL=http://localhost:3500/api
REACT_APP_URI_API_MELI=https://api.mercadolibre.com
REACT_APP_URI_API_JWT_PUBLIC=""
REACT_APP_LANG_DEFAULT="es"
REACT_APP_AUTHOR_NAME="Luis"
REACT_APP_AUTHOR_LASTNAME="Sanchez"
