/** abstracts */
@use "./abstracts/variables";
@use "./abstracts/mixins";

/** base */
@use "./base/_base";
@use "./base/_resets";

/** components */
@import "./abstracts/grid";

.header {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  min-height: var(--header-min-height);
}
.container {
  max-width: var(--card-max-w);
  margin: 0 auto;

  padding: 8px 10px 12px 10px;
}

.row {
  @include row;
}

.col-1 {
  @include col(1);
}

.col-2 {
  @include col(2);
}

.col-3 {
  @include col(3);
}
.col-4 {
  @include col(4);
}
.col-5 {
  @include col(5);
}
.col-6 {
  @include col(6);
}
.col-7 {
  @include col(7);
}
.col-8 {
  @include col(8);
}
.col-9 {
  @include col(9);
}
.col-10 {
  @include col(10);
}
.col-11 {
  @include col(11);
}
.col-12 {
  @include col(12);
}

.col-md-6 {
  @include col-md(6);
}
.col-md-1 {
  @include col-md(1);
}
.col-md-2 {
  @include col-md(2);
}
.col-md-3 {
  @include col-md(3);
}
.col-md-4 {
  @include col-md(4);
}
.col-md-5 {
  @include col-md(5);
}
.col-md-7 {
  @include col-md(7);
}
.col-md-8 {
  @include col-md(8);
}
.col-md-9 {
  @include col-md(9);
}
.col-md-10 {
  @include col-md(10);
}
.col-md-11 {
  @include col-md(11);
}
.col-md-12 {
  @include col-md(12);
}

.col-lg-4 {
  @include col-lg(4);
}
.col-lg-5 {
  @include col-lg(5);
}
.col-lg-6 {
  @include col-lg(6);
}
.col-lg-7 {
  @include col-lg(7);
}
.col-lg-8 {
  @include col-lg(8);
}
.col-lg-9 {
  @include col-lg(9);
}
.col-lg-10 {
  @include col-lg(10);
}
.col-lg-11 {
  @include col-lg(11);
}
.col-lg-12 {
  @include col-lg(12);
}

.header__logo {
  justify-content: center;
  display: pointer;
  img {
    height: 34px;
  }
}

.flex {
  display: flex;

  align-items: center;
}

.w-full {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  @extend .w-full;
  position: relative;
  display: inline-block;
  border: 1px solid var(--color-white);
  border-radius: 3px;
  input {
    width: 100%;
    padding: 10px;
    padding-right: 30px;
    border: 1px solid var(--color-white);
    border-radius: 0px;
    outline: none;
    padding-left: 20px;
    &:focus {
      border-color: var(--color-senary); // Cambia el color del borde al enfocar
      border-width: 1px; // Establece un borde delgado
    }
  }
  .search-icon {
    position: absolute;
    top: -1px; /* Mueve el ícono arriba del input */
    background: white; /* Fondo para que no se mezcle */
    padding: 2px 5px;
    font-size: 18px;
    color: #555;
    height: 40px;
    width: 40px;
    right: -1px;
    background: var(--color-btn-primary);
    border-radius: 0px 3px 3px 0px;
    @extend .center-center;
  }
}

.form-search {
  position: relative;
}

.form-suggestions {
  position: absolute;
  width: 100%;
  border: 1px solid var(--color-quinary);
  background: var(--color-white);
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 212px;
  overflow-y: auto;
  border-radius: 0px;
  box-shadow: 0 1px 2px 0 var(--color-box-shadow);
  padding: 8px 0;
}

.selected {
  background: var(--color-senary);
  color: var(--color-white);
}

.form-suggestions-li {
  padding: 6px 0 6px 48px;
  cursor: pointer;
  &:hover {
    @extend .selected;
  }
  &::before {
    // top: 0.7em;
    background: url('data:image/svg+xml;charset=UTF-8,%3Csvg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">%3Cg fill="%23CCCCCC" fill-rule="evenodd">%3Cpath d="M10.915 10.167l4.955 4.955-.749.748-4.954-4.954z"/>%3Cpath d="M6.612 13.223A6.612 6.612 0 1 1 6.612 0a6.612 6.612 0 0 1 0 13.223zm0-1.058a5.554 5.554 0 1 0 0-11.107 5.554 5.554 0 0 0 0 11.107z"/>%3C/g>%3C/svg>')
      center center no-repeat;
    width: 16px;
    height: 16px;
    content: "";
    display: block;
    position: absolute;
    left: 1em;
  }
}

.footer {
  background: linear-gradient(to bottom, var(--color-white) 0%, #dddddd 100%);
  color: var(--color-quaternary);
  text-align: right;
  padding: 10px 20px;
  position: relative;
  width: 100%;

  & p {
    margin: 0;
  }
}

.content {
  flex: 1;
  display: flex;
  padding: 16px;
  justify-content: center;
  background: var(--color-bg);
}

#app {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card {
  min-width: var(--card-container-max-w);
  max-width: var(--card-container-max-w);
  background: var(--color-white);
  border-radius: 4px;
  padding: var(--card-padding);
}

.item-list-card {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--color-quinary);
  margin-bottom: 16px;
  padding-bottom: 16px;
  cursor: pointer;

  & .item-list-card__picture {
    width: 180px;
    height: 180px;
    padding: 4px;
    margin-right: 12px;
    display: flex;

    & .item-list-card__picture__img {
      flex: 1;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    & img {
      background-size: cover;
      background-position: center;
      width: 100%;
    }
  }
  & .item-list-card__data {
    display: flex;
    flex: 1;
    flex-direction: column;

    & .item-list-card__data__price-city {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      margin-top: 32px;

      & .item-list-card__data__price {
        font-size: 24px;
        display: flex;
        @extend .col-9;
        @extend .col-md-9 !optional;
        @extend .col-lg-9 !optional;
        padding-left: 0px;

        & .item-list-card__data__price__currency {
          font-size: 0.5em;
          color: var(--color-tertiary);
        }

        & .item-list-card__data__price__free_shipping {
          margin-left: 10px;
          & img {
            width: 18px;
          }
        }
      }

      & .item-list-card__data__city {
        font-size: 12px;
        color: var(--color-tertiary);
        @extend .col-3;
        @extend .col-md-3 !optional;
        @extend .col-lg-3 !optional;
        padding-left: 0px;
      }
    }
    & .item-list-card__data__title {
      font-size: 18px;
    }
  }
}

/** card-detail */
.card-detail {
  padding: 16px;

  & .card-detail__header {
    display: flex;
    margin-bottom: 80px;

    & .card-detail__header__image {
      width: 560px;
      display: flex;
      justify-content: center;
    }
  }

  & .card-detail__body {
    & .card-detail__body__title {
      font-size: 28px;
      margin-bottom: 16px;
    }

    & .card-detail__description {
      font-size: 16px;
    }
  }
}

.header-feature-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  & .header-feature-list__condition {
    font-size: 14px;
    color: var(--color-tertiary);
    margin-bottom: 7px;
  }

  & .header-feature-list__title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  & .header-feature-list__price {
    font-size: 46px;
    font-size: clamp(16px, 10vw, 46px);
    word-wrap: break-word;
    width: 247px;
  }
  & .header-feature-list__buy {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--color-senary);
    border-radius: 6px;
    color: var(--color-white);
    padding: 12px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover {
      background-color: var(--color-septenary);
    }
  }
}

.andes-breadcrumb {
  margin-bottom: 16px;
  font-size: 14px;
  color: var(--color-tertiary);
  display: flex;
  gap: 5px;

  & .last {
    font-weight: bold;
    font-size: 1.1em;
  }
  & .andes-breadcrumb__item {
    & .andes-breadcrumb__item__chevron {
      font-weight: bold;
      font-size: 15px;
      margin-left: 6px;
    }
  }
}

.container-dashboard {
  margin: -16px;

  & .container-dashboard__section {
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("https://http2.mlstatic.com/D_NQ_961693-MLA82079959945_012025-OO.webp");
    top: 0;
    width: 100vw;
    height: 400px;

    & .gradient {
      background: linear-gradient(180deg, transparent, #ebebeb);
      height: 120px;
      left: 0;
      position: relative;
      width: 100%;
      z-index: 3;
      bottom: -282px;
    }
  }
}

.slider-rows {
  display: flex;
  justify-content: center;
  position: relative;
  top: -57px;
  z-index: 5;

  & .slider-container {
    width: 80%;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    max-width: 1100px;
    padding-bottom: 15px;

    & .slider {
      display: flex;
      gap: 16px;

      & .slide {
        min-width: 183px;
        background: var(--color-white);
        border-radius: 6px;
        cursor: pointer;
        display: flex;
        align-items: top;
        justify-content: center;
        font-size: 2rem;
        max-width: 183px;
        min-height: 286px;
        flex-direction: column;
        justify-content: start;

        & .slide__title {
          color: rgba(0, 0, 0, 0.9);
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          margin: 0;
          overflow: hidden;
          padding: 16px 12px 16px 16px;
          text-decoration: none;
          text-overflow: ellipsis;
          white-space: break-spaces;
          width: 100%;
          font-family: var(--font-proxima-semi);
          height: 60px;
        }

        & .slide__image {
          justify-content: center;
          display: flex;

          & .slide__image__ico {
            height: 105px;
            width: 105px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-color: var(--color-quinary);
            border-radius: 50%;
            animation: changeColorBackgroundRever 2s forwards;
          }
        }

        & .slide__description {
          font-family: var(--font-proxima);
          font-size: 14px;
          text-overflow: ellipsis;
          white-space: break-spaces;
          padding: 16px 12px 16px 16px;
          height: 85px;
          text-align: center;
        }

        & .slide__button {
          background-color: var(--color-bg-secondary);
          color: var(--color-senary);
          margin: 2px 16px;
          border-radius: 5px;
          padding: 5px;
        }

        &:hover {
          color: var(--color-senary);
          & .slide__image__ico {
            background-color: var(--color-senary);
            animation: changeColorBackground 2s forwards;
          }
        }
      }
    }
  }
}

@keyframes changeColorBackground {
  0% {
    background-color: var(--color-quinary);
  }
  100% {
    background-color: var(--color-senary);
  }
}

@keyframes changeColorBackgroundRever {
  0% {
    background-color: var(--color-senary);
  }
  100% {
    background-color: var(--color-quinary);
  }
}
