// @import url("~@/assets/fonts/ProximaNova-Regular.otf");

@font-face {
  font-family: "ProximaNova";
  src: url("~assets/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
  font-family: "ProximaNovaSemiBold";
  src: url("~assets/ProximaNova-Semibold.otf") format("opentype");
}
:root {
  /** Fonts */
  --font-proxima: "ProximaNova", sans-serif;
  --font-proxima-semi: "ProximaNovaSemiBold", sans-serif;

  /** Colors */
  --color-primary: #ffe600;
  --color-secondary: #333333;
  --color-tertiary: #666666;
  --color-quaternary: #999999;
  --color-quinary: #eeeeee;
  --color-senary: #3483fa;
  --color-septenary: #2968c8;
  --color-white: #ffffff;
  --color-btn-primary: #efefef;
  --color-box-shadow: rgba(0, 0, 0, 0.2);
  --color-bg: #ededed;
  --color-bg-secondary: #e5eefc;

  /** Spacing */
  --header-min-height: 60px;

  --card-max-w: 885px;
  --card-container-max-w: 870px;

  --card-padding: 16px;
}
